#root,
html {
  height: 100%;
  width: 100%;
  background-color: rgba(245, 238, 156, 0.221);
}

header {
  width: 100%;
  border-bottom: 1px solid black;
  background-image: url('/smith-rock.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  z-index: 999;
}

main {
  display: flex;
}

nav {
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
}

.title {
  width: 80%;
}

.titleCard {
  text-align: center;
  margin: 0 auto;
}

.userName {
  float: left;
  vertical-align: top;
  color: cadetblue;
  font-size: 30px;
  font-weight: 200;
}

.titleCard:hover {
  transform: scale(1.1);
}

.signOut {
  width: 5rem;
  color: whitesmoke;
  float: right;
}

.newPost {
  display: inline;
  width: 10rem;
}

.postText {
  color: rgb(108, 29, 29);
}

.deleteButton {
  margin-top: 5px;
  width: 6rem;
}

.welcome {
  color: cadetblue;
}

.login {
  width: 20rem;
  margin: 0 auto;
  margin-top: 15px;
}

ul {
  color: rgba(55, 55, 55, 0.879);
}

/* Stops underlining on hover */
a {
  text-decoration: none !important;
}

/* media */
